@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --color-sand: #f0e2c5;
  --color-green-light: #18703e;
  --color-green-dark: #2a5e3a;
  --foreground: #18703e;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #000000;
    --color-sand: #f0e2c5;
    --color-green-light: #18703e;
    --color-green-dark: #2a5e3a;
    --foreground: #f0e2c5;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}
